body{
    margin: 0;
    background: radial-gradient(circle, rgba(30, 30, 30, 0.966), black);
}
#days{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.616);
    display: flex;
    gap: 30px; 
    letter-spacing: 2px;
}
.day{
    opacity: 0.1;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock-container{
    position: relative;
    display: flex;
    align-items: center;
}
#clock{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 9rem;
    color: rgb(255, 255, 255);
    letter-spacing: 10px;
    width: 850px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.637);
}
::selection {
    background-color: rgba(50, 50, 50, 0.918);
    color: rgb(255, 255, 255);
}
#stage-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -60px;
    gap: 20px;
    text-align: right;
    width: 50px;
}
.stage{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    opacity: 0.1;
}
.active{
    color: white;
    font-weight: bold;
    opacity: 1 !important;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}
#timeButtons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 52%;
    left: 30px; 
    transform: translateY(-50%); 
    gap: 10px; 
}
.typeOfTime {
    background: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    opacity: 0.5;
}
.typeOfTime:hover {
    background: rgba(255, 255, 255, 0.2);
}
