body{
    margin: 0;
}
#background-image{
    background: radial-gradient(circle, rgba(30, 30, 30, 0.966), black);
}
#days {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.616);
    display: flex;
    gap: 15px; 
    letter-spacing: 5px;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#clock{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 9rem;
    color: white;
    letter-spacing: 10px;
}
::selection {
    background-color: rgba(50, 50, 50, 0.89);
    color: rgb(255, 255, 255);
}
